In [4]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from collections import Counter
import re

In [19]:
# Data reading from file and store it into pandas dataframe.
# Pandas dataframe contain 2 columns.One contains content - sms and other column store value 0 for ham and 1 for spam.
# The data has a total of 4,827 SMS legitimate messages (86.6%) and a total of 747 (13.4%) spam messages.

data = pd.read_csv('data',sep='\t',names=['Class','Content'])
data.head()

  Class                                            Content
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
#remove punctuation and numbers leaving only a-zA-Z character string.

data['Content'] = data['Content'].apply(lambda x: re.sub('[^a-zA-Z ]','',x))
data['Class'] = data['Class'].apply(lambda x: 0 if x=='ham' else 1)
data.head()

   Class                                            Content
0      0  Go until jurong point crazy Available only in ...
1      0                            Ok lar Joking wif u oni
2      1  Free entry in  a wkly comp to win FA Cup final...
3      0        U dun say so early hor U c already then say
4      0  Nah I dont think he goes to usf he lives aroun...

In [21]:
# -*- coding: utf-8 -*-
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True
    
words = set(stopwords.words('english'))
for idx,x in data.iterrows():
    s = ''
    tokens = word_tokenize(x['Content'])
    for t in tokens:
        #print(t)
        if t.lower() not in words and isEnglish(t):
            s = s + t.lower() + ' '
    x['Content'] = s
data.head()

   Class                                            Content
0      0  Go until jurong point crazy Available only in ...
1      0                            Ok lar Joking wif u oni
2      1  Free entry in  a wkly comp to win FA Cup final...
3      0        U dun say so early hor U c already then say
4      0  Nah I dont think he goes to usf he lives aroun...